<!doctype html>
<html lang="en">
<html>

<head>
    <title>BG Shop</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body style="background-color: #eeddc1">
    <div class="webpage">
        <div class="jumbotron jbt">
            <div class="row align-items-center">
                <div class="col-2">
                    <img src="../images/logo.png" width="230px"
                        height="140px">
                </div>
                <div class="col-8">
                    <div class="header_font">
                        <b>- .BG. S h o p -</b>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills nav-justified" style="font-size: 25px; padding-left: 100px; padding-right: 100px;">
            <li class="nav-item">
                <a class="nav-link" href="./index.html"><i class="fas fa-cloud"></i>&nbsp;&nbsp;Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false"><i class="fas fa-chess"></i> &nbsp;Board Game</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="./newgame.html"><i class="fas fa-clipboard"></i> &nbsp; >> Add New Board
                        Game</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./boardgame.html"><i class="fas fa-chess-king"></i> &nbsp; >> All Board
                        Games</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false"><i class="fas fa-cart-arrow-down"></i> &nbsp;Order</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="./neworder.html"><i class="fas fa-address-card"></i> &nbsp; >> Create
                        Order</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./order.html"><i class="fas fa-book-open"></i> &nbsp; >> Order
                        History</a>
                </div>
            </li>
        </ul>
        <div class="bodycontentnewgame">
            <br><br>
            <h2>&nbsp;- &nbsp;<i class="fas fa-address-card"></i>&nbsp; Create New Order -</h2>
            <hr>
            <br>
            <div style="padding-left: 80px; padding-right: 150px; font-size: 20px;">
                <div class="form-group row">
                    <label for="odname" class="col-sm-3 col-form-label">Customer name :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="odname" placeholder="Name Surname"
                            style="width: 300px;">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="odage" class="col-sm-3 col-form-label">Customer age :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="odage" placeholder="Age" style="width: 100px;">
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-3 pt-0">Customer gender :</legend>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="category" id="m" value="Male">
                                <label class="form-check-label" for="m">
                                    Male
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="category" id="fm" value="Female">
                                <label class="form-check-label" for="fm">
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="bgn1">Board game name:</label>
                        <select id="bgn1" class="form-control" onchange="if (this.selectedIndex) showBGprice1();">
                            <option value="-1" selected>...Choose board game...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="showprice1">Price:</label>
                        <input type="number" class="form-control" id="showprice1" value="0.00" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select id="bgn2" class="form-control" onchange="if (this.selectedIndex) showBGprice2();">
                            <option value="-1" selected>...Choose board game...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="number" class="form-control" id="showprice2" value="0.00" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select id="bgn3" class="form-control" onchange="if (this.selectedIndex) showBGprice3();">
                            <option value="-1" selected>...Choose board game...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="number" class="form-control" id="showprice3" value="0.00" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select id="bgn4" class="form-control" onchange="if (this.selectedIndex) showBGprice4();">
                            <option value="-1" selected>...Choose board game...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="number" class="form-control" id="showprice4" value="0.00" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select id="bgn5" class="form-control" onchange="if (this.selectedIndex) showBGprice5();">
                            <option value="-1" selected>...Choose board game...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="number" class="form-control" id="showprice5" value="0.00" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="odbill" class="col-sm-3 col-form-label">Bill total :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="odbill" placeholder="Total" style="width: 180px;"
                            readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="odcash" class="col-sm-3 col-form-label">Cashier name :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="odcash" placeholder="Cashier name"
                            style="width: 400px;">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="odyear" class="col-sm-3 col-form-label">Order Year :</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="odyear" placeholder="Year" style="width: 150px;">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-outline-dark btn-lg" id="btnsubmit"
                            style="width: 550px;">Create Order</button>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="../javascripts/neworder.js"></script>
</body>

</html>